In [44]:
from datetime import datetime
import httpx
import pandas as pd

In [5]:
URL = "https://www.fartkontrol.nu/ajax.php"

In [54]:
latitude = 55.6373945
longitude = 12.4711422

latitude = 0
longitude = 0

PARAMS = {"json" :f"""{{"action":"controls_fetch","uid":null,"app":0,"my_coords":{{"Ya":{latitude},"Za":{longitude},"ac":0}},
 "types":["1","-1","-1",null,"1"]}}"""}

In [55]:
PARAMS

{'json': '{"action":"controls_fetch","uid":null,"app":0,"my_coords":{"Ya":0,"Za":0,"ac":0},\n "types":["1","-1","-1",null,"1"]}'}

In [56]:
r = httpx.get(URL, params=PARAMS)

In [57]:
data = r.json()

In [58]:
data.keys()

dict_keys(['result', 'users_id', 'uid', 'e', 'extras', 'controls', 'is_night', 'menu', 'gps_history_interval'])

In [59]:
data['controls'].keys()

dict_keys(['coordinates', 'time'])

In [60]:
data['controls'].get('time')

1621186318

In [61]:
controls = pd.DataFrame(data['controls'].get('coordinates')).T

In [62]:
controls.shape

(53, 19)

In [63]:
controls.loc[lambda d: d['near'].str.contains('Brø')]

,id,time,type,users_id,x,y,near,voted_out,thanks,not_spottet,level,direction_status,direction_angle,comments_users_id,name,comment,count_thanks,count_not_spottet,comments
5285022,5285022,1621181476,1,0,572843399,97886524,"Bredningen, Brønderslev",0,7,0,2,0,0,16132900,,,7,0,1
1283238,1283238,1621186261,1,0,574244360,100415910,"Øster Linderupvej, Brønderslev",0,10,0,2,0,0,13262691,,,10,0,1